version: '3.7'
services:
  service1:
    image: service1
    build: ./service_1
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
    environment:
      - RECRUITMENT_VM_DB_URI=${RECRUITMENT_VM_DB_URI}
      - SECRET_KEY=${SECRET_KEY}
  service2:
    image: service2
    build: ./service_2
    ports:
      - target: 5001
        published: 5001
        protocol: tcp
  service3:
    image: service3
    build: ./service_3
    ports:
      - target: 5002
        published: 5002
        protocol: tcp
  service4:
    image: service4
    build: ./service_4
    ports:
      - target: 5003
        published: 5003
        protocol: tcp