version: '3.7'
networks:
  sfia2_network:
    driver: overlay
services:
  service1:
    image: jasonsinclair95/sfia2:service1
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
    environment:
      - RECRUITMENT_VM_DB_URI=${RECRUITMENT_VM_DB_URI}
      - SECRET_KEY=${SECRET_KEY}
    networks:
      - sfia2_network
    deploy:
            replicas: 2
  service2:
    image: jasonsinclair95/sfia2:service2
    ports:
      - target: 5001
        published: 5001
        protocol: tcp
    networks:
      - sfia2_network
    deploy:
            replicas: 2
  service3:
    image: jasonsinclair95/sfia2:service3
    ports:
      - target: 5002
        published: 5002
        protocol: tcp
    networks:
      - sfia2_network
    deploy:
            replicas: 2
  service4:
    image: jasonsinclair95/sfia2:service4
    ports:
      - target: 5003
        published: 5003
        protocol: tcp
    networks:
      - sfia2_network
    deploy:
            replicas: 2
  nginx:
    image: jasonsinclair95/sfia2:nginx
    ports:
      - "80:80"
    networks: 
      - sfia2_network
    depends_on:
      - service_1
      - service_2
      - service_3
      - service_4
    deploy:
            replicas: 2
