{% extends "layout.html" %}

{% block body_content %}
<body>
<br/>
<h3>Your car config is ...</h3>
<h1>
</h1>
<br/>
<br/>
<br/>
</body>

{% endblock body_content %}
<html>
<button onClick="window.location.reload();">Generate</button>
        <br>
        <table style="margin-left:auto;margin-right:auto;">
            <tr>
                <th>ID</th>
                <th>Car</th>
                <th>Weapon</th>
            </tr>
            {% for c in car %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.car }}</td>
                <td>{{ c.weapon }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html> 
